h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Los acondicionadores del suelo', 'main.html#page/acondicionadores-suelo/')
                    +navTemaItem('2', 'Generalidades del suelo', 'main.html#page/generalidades-suelo/')
                    +navTemaItem('3', 'Analisis de suelos', 'main.html#page/analisis-suelo/')
                    +navTemaItem('4', 'Manejo y conservaci칩n de suelo', 'main.html#page/manejo-conservacion-suelo/')
                    +navTemaItem('5', 'Deficiencias nutricionales', 'main.html#page/deficiencias-nutricionales/')
                    +navTemaItem('6', 'Abonos org치nicos', 'main.html#page/abonos-organicos/')
                    +navTemaItem('7', 'Bocashi', 'main.html#page/bocashi/')
                    +navTemaItem('8', 'Lombricultura', 'main.html#page/lombricultura/')     
                    +navTemaItem('question', 'Actividad did치ctica', 'main.html#page/actividad-1/')                                                                                               