include ../mixins/functions

+pageHeader('Manejo Ecológico del Suelo', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 1. Los acondicionadores del suelo
    .header
        p Es innegable el agotamiento, el desgaste y la degradación a la que se someten los suelos en determinados sistemas de producción agrícola, principalmente en agricultura tradicional y en agricultura intensiva. Por lo tanto, los acondicionadores del suelo ayudan a recuperar las condiciones del terreno para que los lotes puedan ofrecer mayor fertilidad y una estructura adecuada para obtener un alto rendimiento en los cultivos sembrados, convirtiéndose en una solución para mejorar las condiciones de los suelos a corto y largo plazo. 
    
    .header-arrow.my-5
        h3.text-center Los acondicionadores son una mezcla de materiales de origen orgánico animal y vegetal que se someten a un proceso de compostaje y maduración, para posteriormente ser añadidos al suelo con los siguientes propósitos fundamentales:

.container 
    .row-12       
        img.img-a.mt-7(src="assets/images/pages/ilustraciones/acondicionadores.png").img-fluid