include ../mixins/functions

+pageHeader('Manejo Ecológico del Suelo', 'assets/images/header/header_media.svg')

.container
    #definicion
    .header-ecored
        h1 7. Bocashi
    .row
        .col-12.col-md-6
            img.img-a.mt-2(src="assets/images/pages/ilustraciones/b.png").img-fluid
        .col-12.col-md-6
            p Según Shintani y Tabora, 1998, la palabra Bocashi o Bokashi es de origen japonés y significa “materia orgánica fermentada” o literalmente “suavización”. Es un abono que además de nutrientes, brinda vitaminas, azúcares, ácidos orgánicos y aminoácidos, los cuales son una fuente de alimento para organismos benéficos.
           
            a.m-0.p-0(href="http://ri.uaemex.mx/bitstream/handle/20.500.11799/30917/UAEM-FAPUR-TESIS-GIL%2CANGELICA.pdf?sequence=1&isAllowed=y", target="_blank") http://ri.uaemex.mx/bitstream/handle/20.500.11799/30917/UAEM-FAPUR-TESIS-GIL%2CANGELICA.pdf?sequence=1&isAllowed=y
            br
            br
            p Es un abono orgánico sometido a procesos de fermentación de materiales secos convenientemente mezclados, cuya principal diferencia con el compost, es que el Bocashi pasa por un proceso de descomposición más acelerado y se consigue el producto final más rápido. 
            
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf 
            br
            br
            p Como resultado de la fermentación de ingredientes, se obtienen nutrientes con elementos mayores y menores, los cuales forman un abono completo. Es necesario utilizar una gran variedad de materiales, para garantizar un mayor equilibrio nutricional del abono cuya función es alimentar el suelo y los microorganismos disponibles y colocar a disposición los minerales para que los utilicen las plantas en el crecimiento de raíces y follaje. 
            
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf 

    #materiales
    .header-ecored
        h1 7.2 Materiales para la preparación

        p De acuerdo con el documento Elaboración y uso del Bocashi (http://www.fao.org/3/a-at788s.pdf), para obtener un abono de buena calidad se utiliza una gran variedad de materiales orgánicos, como los siguientes:

        ul
            li(style="color:#FF7F00")
                p(style="color:black") Carbón: Se utiliza porque mejora las características físicas del suelo con aireación, absorción de humedad y calor (energía). Su porosidad beneficia la actividad biológica de la tierra y es capaz de retener, filtrar y liberar gradualmente nutrientes útiles a las plantas, disminuyendo la pérdida y el lavado de los mismos en el suelo. Para facilitar el proceso, el material debe ser uniforme. 

            li(style="color:#FF7F00")
                p(style="color:black") Gallinaza: Es la principal fuente de nitrógeno y mejora la fertilidad del suelo aportando fósforo, potasio, calcio, magnesio, hierro, manganeso, zinc, cobre y boro. La mejor gallinaza es de la cría de gallinas ponedoras bajo techo y con piso cubierto. No obstante, se puede utilizar cualquier otro tipo de estiércol. 

            li(style="color:#FF7F00")
                p(style="color:black") Cascarilla de arroz: Se utiliza porque facilita la aireación, absorción de humedad y el filtraje de nutrientes, incrementa la actividad biológica de la tierra y estimula el desarrollo radicular de las plantas. Es una fuente de sílice y favorece así la resistencia de las plantas contra plagas y enfermedades. Corrige la acidez del suelo y es una fuente constante de humus. Este material puede ocupar hasta un 33% del volumen de los ingredientes y es importante para controlar los excesos de humedad. Puede ser sustituida por cascarilla de café o pajas secas trituradas. 

            li(style="color:#FF7F00")
                p(style="color:black") Melaza de caña: es la principal fuente de energía para la fermentación de los abonos orgánicos. Multiplica la actividad microbiológica y es rica en potasio, calcio, magnesio y micronutrientes principalmente boro, zinc, manganeso y hierro. 

            li(style="color:#FF7F00")
                p(style="color:black") Levadura, tierra de bosque o bocaschi: Estos tres ingredientes constituyen la principal fuente de inoculación microbiológica para la elaboración de los abonos orgánicos fermentados. Es el arranque o la semilla de la fermentación. Los agricultores centroamericanos, para desarrollar su primera experiencia en la elaboración de los abonos fermentados, utilizaron con éxito la levadura para pan en barra o en polvo, la tierra de floresta o los dos ingredientes al mismo tiempo. Después, y ya con la experiencia, seleccionaron una buena cantidad de su mejor bocashi (semilla fermentada), para utilizarlo constantemente como su principal fuente de inoculación, acompañado de una determinada cantidad de levadura. Eliminaron así el uso de la tierra de floresta virgen, evitando consecuencias graves para el deterioro del suelo y del manto de los bosques.

            li(style="color:#FF7F00")
                p(style="color:black") Tierra común: Ocupa cerca de 33% del volumen del abono. Ayuda en la homogeneidad física y a la distribución de la humedad en el material. Con su volumen aumenta la actividad microbiológica y ayuda a producir una buena fermentación. Retiene, filtra y libera gradualmente nutrientes a las plantas y fortalece así un desarrollo equilibrado del cultivo. 

            li(style="color:#FF7F00")
                p(style="color:black") Carbonato de calcio o cal agrícola: Su función principal es regular la acidez que se presenta durante todo el proceso de la fermentación, cuando se está elaborando el abono orgánico. Propicia las condiciones ideales para el buen desarrollo de la actividad y reproducción microbiológica.

            li(style="color:#FF7F00")
                p(style="color:black") Agua: Homogeniza la humedad de los diferentes materiales y fomenta las condiciones ideales para el proceso. El exceso o escasez de agua afecta el éxito de una buena fermentación. Cuando se ha utilizado demasiada agua, se puede eliminar la humedad que sobra, aplicando más cascarilla de arroz.                




.container 
    .row-12.mt-5       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/materiales.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 19. Cantidad de cada elemento para la preparación de Bocashi - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf   
    #dosis
    .header-ecored  
        h1 7.3 Dosis de aplicación
        p Cuando el producto está listo para su so, se recomienda aplicar de la siguiente manera: 

.container 
    .row-12       
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/dosis.png").img-fluid
    .row
        .col.text-center
            p.m-0(style="padding-top: 10px")
            |Figura 20. Dosis de Aplicación de Bocashi  - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf                       