include ../mixins/functions

+pageHeader('Manejo Ecológico del Suelo', 'assets/images/header/header_media.svg')

.container#impacto

        .row.mx-0.justify-content-center.text-center
        .col-12  

        h1 Introducción

        .brand-line-primary

        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NJwXUcofLHs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            
            .card-body

                .card-text

                    p El incremento en la degradación de los suelos es un fenómeno que sucede a consecuencia de prácticas agrícolas inadecuadas, uso intensivo del recurso y fenómenos naturales, entre muchos otros factores. Por lo cual es necesario tomar acciones conducentes a la recuperación de este importantísimo recurso para la sobrevivencia en el planeta. 
                    br
                    p Es así como el manejo ecológico de los suelos se constituye en una práctica fundamental no sólo para la conservación y recuperación del suelo, sino también para el aumento de las producciones agrícolas y para brindar a los cultivos factores de resistencia al ataque de plagas y enfermedades.
                    br
                    p A través del manejo ecológico de los suelos se busca conservar, recuperar y mejorar las propiedades físicas, químicas y biológicas de este recurso, para lograr producciones vegetales de mayor volumen y de mejor calidad, y sobre todo obtenidas con parámetros de sostenibilidad ambiental. 
                    br
                    p Dentro de las prácticas de manejo ecológico de los suelos ocupan un papel fundamental los abonos orgánicos, que son sustancias obtenidas a partir de residuos vegetales y/o animales que al ser incorporadas al suelo producen efectos positivos para estos y los cultivos. No obstante, existen otras prácticas dentro de las que se pueden destacar, los abonos verdes, las siembras en contorno, el laboreo mínimo del suelo, la rotación de cultivos y la siembra de policultivos entre otros.
                    br
                    p Una consecuencia importante de la degradación y del agotamiento de los suelos, son las deficiencias nutricionales que sufren los cultivos, de allí la importancia que tiene realizar análisis de suelos, para determinar con certeza los nutrientes presentes y de cuáles carece y de esta manera lograr la implementación de un plan de fertilización que esté acorde no solo con la situación real del suelo, sino también con los requerimientos del cultivo.
