.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td
                    strong 2006718153746_Acondicionadores y mejoradores de suelo
                td PDF
                td 
                    a(href="media/documentos/MC_Ingenieria_de_software_I_Tema_2_Sistemas_de_informacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong a-at788s
                td PDF
                td 
                    a(href="media/documentos/MC_La_gestion_de_informacion_y_sus_recursos_Parte_I.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong guiademuestreo
                td PDF
                td 
                    a(href="media/documentos/MC_LosSistemas_de_Informacion_Evolucion_y_Desarrollo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Manual_de_Conserbacion_de_Suelo_y_Agua
                td PDF
                td 
                    a(href="media/documentos/MC_Metodologia_para_escaneo_rapido_de_centros_de_distribucion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar