.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material 

        tbody
            tr
                td
                    strong Acondicionadores y mejoradores de suelo
                td PDF
                td 
                    a(href="media/documentos/MC_2006718153746_Acondicionadores_y_mejoradores_de_suelo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Elaboración y uso del bocashi
                td PDF
                td 
                    a(href="media/documentos/MC_a-at788s.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Guía de muestreo
                td PDF
                td 
                    a(href="media/documentos/MC_guiademuestreo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Manual de “Prácticas de Conservación de Suelos y Agua”
                td PDF
                td 
                    a(href="media/documentos/MC_Manual_de_Conserbacion_de_Suelo_y_Agua.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar