
.container
  ol

    li
      p
        | Abonamos (s.f.), Acondicionadores de suelos. (s.f.). 
        a(href="https://www.abonamos.com/acondicionadores-de-suelos", target="_blank") https://www.abonamos.com/acondicionadores-de-suelos

    li
      p
        | AGQ Labs (2017). La importancia del análisis de suelos agrícolas. (s.f.).  
        a(href="https://agqlabs.co/2017/02/03/la-importancia-del-analisis-suelos-agricolas/", target="_blank") https://agqlabs.co/2017/02/03/la-importancia-del-analisis-suelos-agricolas/
    li
      p 
        | Blanco, J, (s.f.). Acondicionadores y mejoradores del Suelo. 
        a(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/4858/2/2006718153746_Acondicionadores%20y%20mejoradores%20de%20suelo.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/4858/2/2006718153746_Acondicionadores%20y%20mejoradores%20de%20suelo.pdf

    li
      p
        | Brechelt, A. (2004). Manejo Ecológico del Suelo (s.f.).  
        a(href="https://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf", target="_blank") https://bioinsumosagric.ucoz.com/_ld/0/90_Manejo_Ecologic.pdf

    li
      p
        | Ecoagricultor (2019). Tipos de abonos orgánicos (s.f.). 
        a(href="https://www.ecoagricultor.com/tipos-de-abonos-organicos/", target="_blank") https://www.ecoagricultor.com/tipos-de-abonos-organicos/

    li
      p
        | EcuRed (2019). Conservación de los suelos (s.f.).   
        a(href="https://www.ecured.cu/Conservaci%C3%B3n_de_los_suelos#Principales_pr.C3.A1cticas_de_conservaci.C3.B3n_del_suelo", target="_blank") https://www.ecured.cu/Conservaci%C3%B3n_de_los_suelos#Principales_pr.C3.A1cticas_de_conservaci.C3.B3n_del_suelo

    li
      p
        | FAO (2011). Elaboración y uso del Bocashi (s.f.). 
        a(href="http://www.fao.org/3/a-at788s.pdf", target="_blank") http://www.fao.org/3/a-at788s.pdf

    li
      p
        | FAO (2019). ¿Qué es el suelo? (s.f.). 
        a(href="http://www.fao.org/soils-portal/about/definiciones/es/", target="_blank") http://www.fao.org/soils-portal/about/definiciones/es/

    li
      p
        | FAO (2019). Propiedades Físicas del Suelo. (s.f.) 
        a(href="http://www.fao.org/soils-portal/soil-survey/propiedades-del-suelo/propiedades-fisicas/es/ ", target="_blank") http://www.fao.org/soils-portal/soil-survey/propiedades-del-suelo/propiedades-fisicas/es/ 

    li
      p
        | FAO (2019). Propiedades Químicas. (s.f.) 
        a(href="http://www.fao.org/soils-portal/soil-survey/clasificacion-de-suelos/sistemas-numericos/propiedades-quimicas/es/", target="_blank") http://www.fao.org/soils-portal/soil-survey/clasificacion-de-suelos/sistemas-numericos/propiedades-quimicas/es/

    li
      p
        | FAO (2019). Propiedades Biológicas. (s.f.)  
        a(href="http://www.fao.org/soils-portal/soil-survey/propiedades-del-suelo/propiedades-biologicas/es/", target="_blank") http://www.fao.org/soils-portal/soil-survey/propiedades-del-suelo/propiedades-biologicas/es/

    li
      p
        | FAO (2019). Conservación del Suelo. (s.f.) 
        a(href="http://www.fao.org/soils-portal/soil-management/conservacion-del-suelo/es/", target="_blank") http://www.fao.org/soils-portal/soil-management/conservacion-del-suelo/es/

    li
      p
        | Fertilizante (2018). Asociación y rotaciones de cultivos en el huerto ecológico. (s.f.). 
        a(href="http://www.fertilizante.info/asociacion-y-rotaciones-de-cultivos-en-el-huerto-ecologico/", target="_blank") http://www.fertilizante.info/asociacion-y-rotaciones-de-cultivos-en-el-huerto-ecologico/

    li
      p
        | IGAC (s.f.). Guía de muestreo (s.f.). 
        a(href="https://www.igac.gov.co/sites/igac.gov.co/files/guiademuestreo.pdf", target="_blank") https://www.igac.gov.co/sites/igac.gov.co/files/guiademuestreo.pdf

    li
      p
        | Infoagro (s.f.). Abonos orgánicos (s.f.). 
        a(href="https://www.infoagro.com/documentos/abonos_organicos.asp", target="_blank") https://www.infoagro.com/documentos/abonos_organicos.asp

    li
      p
        | Instituto Colombiano Agropecuario (2016). Información Agricultura Ecológica. (s.f.). 
        a(href="https://www.ica.gov.co/areas/agricola/servicios/agricultura-ecologica-1.aspx", target="_blank") https://www.ica.gov.co/areas/agricola/servicios/agricultura-ecologica-1.aspx

    li
      p
        | Instituto Nacional Tecnológico Nicaragua (2016). Manual del protagonista. Prácticas de conservación de suelos y aguas. (s.f.).  
        a(href="https://www.jica.go.jp/project/nicaragua/007/materials/ku57pq0000224spz-att/Manual_de_Conserbacion_de_Suelo_y_Agua.pdf", target="_blank") https://www.jica.go.jp/project/nicaragua/007/materials/ku57pq0000224spz-att/Manual_de_Conserbacion_de_Suelo_y_Agua.pdf